<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <machineKey decryptionKey="D526214A633084E77FE3D1EA14D2EAA6B4E85BB7D45D4202" validationKey="B766097C2595E025C2A540531E985D885D20B4563B4FC0C94549EA096391DAA4B062225F76FB1182CC8FF72F8920342F1AADFDA08ED20FDC26641468E46154F4" />
        <customErrors mode="On" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="viewstate.aspx" />
            </files>
        </defaultDocument>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="200-999" />
                </add>
            </traceFailedRequests>
        </tracing>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
