<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.web>
<processModel autoConfig="false"              
maxWorkerThreads = "2"              
maxIoThreads = "2"              
minWorkerThreads = "1"              
minIoThreads = "1"              
/>

<httpRuntime minFreeThreads="1"              
minLocalRequestFreeThreads="1"              
/>
   </system.web>
</configuration>