<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <tracing>
            <traceFailedRequests>
                <add path="*.asp">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,ANCM" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="200" />
                </add>
            </traceFailedRequests>
        </tracing>
        <httpProtocol>
          <customHeaders>
		<remove name="X-Powered-By" />
		<remove name="X-Aspnet-Version" />
		<remove name="Server" />
		<add name="X-Aspnet-Version" value="removed" />
	</customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
