<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.net>
  <!--https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings-->
    <defaultProxy useDefaultCredentials="true"  >
       <proxy  
        usesystemdefault="false"
        proxyaddress="http://127.0.0.1:8888"  
        bypassonlocal="false"
      />
      <bypasslist>
        <add address="[a-z]+\.contoso\.com$"/>
      </bypasslist>
    </defaultProxy>
  </system.net>
</configuration>
