<configuration>
    <system.web>
<authentication mode="Forms"> 
 <forms defaultUrl="Vars.aspx" loginUrl="logon.aspx" name=".ASPXFORMSAUTH" timeout="6" />
  </authentication>
<identity impersonate="true" />
        <authorization>
            <deny users="?" /> 
        </authorization>
    </system.web>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
</system.webServer>
</configuration>