<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="startme.html" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="false">
			    <!-- <remove fileExtension=".PNG" /> -->
                    <add fileExtension=".document" allowed="true" />
                    <add fileExtension=".html" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>

    </system.webServer>
</configuration>