<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <asp appAllowDebugging="false" errorsToNTLog="true">
            <limits processorThreadMax="2" requestQueueMax="1" />
        </asp>
        <httpRedirect enabled="false" destination="https://localhost/ASP/" />
      
    </system.webServer>
</configuration>
